.container{
    width: auto;
    margin-top: 20px;
    background-color:#D0E0F3;
    padding: 20px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  th, .td {
    padding: 10px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.heading{
    font-size: 26px;
    font-weight: 600;
    padding: 10px;
}
.header_block{
    display: flex;
    flex-direction: row;
    gap:100px;
    align-items:center;
    align-self:self-start;
    margin-bottom:50px;
}
.title{
    font-size: 24px;
    font-weight: 600;
    align-items:center;
    align-self:center;
}
.search_coins{
    outline: none;
    padding: 12px;
    width: 300px;
    border-radius:8px;
    border: none;
    font-size: 20px;
}
.icon_add{
    width: 24px;
    height: 24px;
    color:#2361a4;
    &:hover{
        color:#96b7da;
    }
}

.coin{
    font-size: 20px;
    font-weight: 500;
}

.modal{
    position: fixed;
    top: 185px;
    right: -10px;
    z-index: 1000;
    width: 300px;
    display: flex;
}

@media (max-width: 750px) {
    .header_block{
        flex-direction: column;
        align-items:start;
        gap:25px;
    }
}
@media (max-width: 470px) {
    .title{
        font-size: 20px;
    }
    .search_coins{
        width: 250px;
    }
}
@media (max-width: 430px) {
    .title{
        font-size: 18px;
    }
    .search_coins{
        width: 220px;
    }
}
@media (max-width: 395px) {
    .title{
        font-size: 16px;
    }
    .search_coins{
        width: 200px;
    }
}

@media (max-width: 575px) {
 .heading{
    font-size: 22px;
    }
    .coin{
        font-size:18px;
    }
}
@media (max-width: 520px) {
    .heading{
       font-size: 18px;
    }
    .coin{
        font-size:16px;
    }
}
@media (max-width: 465px) {
    .heading{
        font-size: 16px;
    }
    .coin{
        font-size:15px;
    }
}
@media (max-width: 440px) {
    .heading{
        font-size: 14px;
    }
    .coin{
        font-size:12px;
    }
}
@media (max-width: 400px) {
    .heading{
        font-size: 12px;
    }
    .coin{
        font-size:10px;
    }
}      
@media (max-width: 380px) {
    .heading{
        font-size: 10px;
    }
    .coin{
        font-size:8px;
    }
}     